.latex-hover-spectrogram-button-alt {
    position: relative;
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 4px;
    color: #FFD700;
    float: right;
    display:  block;
    top: 0px;
    font-variant-caps: titling-caps;
    background-color: #1e2337;
    right:100px;
    margin-right: -100px;
    border: #1e2337 1px solid;
    cursor: pointer;
    outline: none;
    transition: background-color 0.53s ease;
    
    /* z-index: 1; */
    box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.589);
    

}





.latex-hover-spectrogram-button {
    position: relative;
    padding: 5px 20px;
    font-size: 12px;
    border-radius: .25em;
    color: #FFD700;
    float: right;
    display:  block;
    top: -20px;
    font-variant-caps: titling-caps;
    background-color: #1e2337;
    right:100px;
    margin-right: -100px;
    border: #1e2337 1px solid;
    cursor: pointer;
    outline: none;
    transition: background-color 0.53s ease;
    /* z-index: 0; */
    /* box-shadow: 0 0 0 0; */
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.589);
    

}

.latex-hover-spectrogram-button::selection, .latex-hover-spectrogram-button-alt:active:act {
    background-color: #fff;
    color: #FFD700;
    border: #1e2337 1px solid;
    background-color: #1e2337;
    padding: 5px 15px;
    /* margin-right: 400px; */
    opacity: 1;
    border:#FFD700; 
    font-size: 12px;
    box-shadow: 0 0 0 0;
  
}

@keyframes tooltipcanvas {
    0% {
        background-color:#FFD700;
        color:#1e2337;
        box-shadow: 43 43 432 700 #ffffff;
        transition: background-color 0.83s ease;
    }

   100% {   
        background-color:#fff;
        color: #1e2337;
        border: #1e2337 2PX solid;
        box-shadow: 330px 100px 300px 1200px rgba(218, 214, 214, 0.836);
        transition: background-color 0.53s ease;

    }
/* 
    after {color:rgb(30, 35, 55,.4);
        box-shadow: 1330px 100px 1300px 1300px rgba(255, 255, 255, 0.849), 20 15 10 25  rgba(0,0,0,.6);
        transition: background-color 0.13s ease;

    } */
}

/* Tooltip Container */
.latex-hover-spectrogram-tooltip {
    position: absolute;
    top: 36px;
    left: -250px ;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 1;
    background: #fff;
    color: #1e2337;
    padding: 15px;
    /* border: #1e2337 2px solid; */
    /* border-radius: 5px; */
    box-shadow: 0px 4px 8px rgba(24, 24, 24, 0.801);
    max-width: 400px;
    font-size: 14px;
    z-index: 2;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;  
    animation: tooltipcanvas 1.7s forwards linear;
}
.latex-hover-spectrogram-tooltip-alt {
    position: absolute;
    padding: 5px 5px;
    top: 0px;
    left: -150px ;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    background: #fff;
    color: #1e2337;
    /* padding: 15px; */
    /* border-radius: 5px; */
    border: #1e2337 2px solid;
    box-shadow: 0px 4px 8px rgba(39, 39, 39, 0.481);
    min-width: 400px;
    font-size: 14px;
    z-index: 2;
    margin:auto;
    transition: opacity 0.3s ease, visibility 0.2s ease, transform 0.2s ease;  
    animation: tooltipcanvas 1.7s forwards linear;
}
/* Tooltip Animation */
.latex-hover-spectrogram-button:hover  .latex-hover-spectrogram-tooltip {
    visibility: visible;
    opacity: 1;
    z-index:20;
    transform: translate(-50%, 10px);
    box-shadow: 0px 4px 8px rgba(39, 39, 39, 0.481);
}
.latex-hover-spectrogram-button-alt:hover  .latex-hover-spectrogram-tooltip-alt {
    visibility: visible;
    opacity: 1;
    padding: 5px 5px;
    transform: translate(-50%, 10px);
    box-shadow: 0px 4px 8px rgba(39, 39, 39, 0.481);
}
/* Tooltip Content Styling */
.latex-hover-spectrogram-content {
    text-align: center;
}

.latex-hover-spectrogram-content p {
    margin: 10px 10px;
}

.latex-hover-spectrogram-content ul {
    padding-left: 20px;
}

.latex-hover-spectrogram-content ul li {
    margin: 0px 0;
}

.latex-render {
    display: auto !important;
    float: right !important;
    position: relative !important;
    align-items: right !important;
    top: -0px;
    gap: 0px !important;
    right: 54px !important;
    letter-spacing: 0;
    font-size: 16px !important;
    transition-duration: 0s;
    /* animation-duration: 1s !important; */

}

.formula-column{font-family:"EB Garamond",serif;font-size:24px;text-align:center;color:#1e2337;padding:5px;letter-spacing:0.02em;}/*Increased font size for Formula column*/
